<div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>

<ng-container *ngIf="product$ | async as product; else loading">
  <div class="product-details">
    <img
      [src]="product.image"
      alt="{{ product.title }}"
      class="product-image"
    />
    <div class="product-title">{{ product.title }}</div>
    <div class="product-price">{{ product.price | currency }}</div>
    <div class="product-description">{{ product.description }}</div>
    <div class="product-category">{{ product.category }}</div>
    <a routerLink="/products">Back to Product List</a>
  </div>
</ng-container>

<ng-template #loading>
  <div>Loading product details...</div>
</ng-template>
